@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #616bca;
    --secondary-color: #fd7d46;
    --tertiary-color: #8b8eaf;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --top-margin: 0.5rem;
    --top-margin-2: 1rem;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}
/* Fin CSS Resets */

/* Barra de Navegacion-CSS Flexbox */
form div nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--primary-color);
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}
/* Fin Barra de Navegacion-CSS Flexbox */

/* Seccion Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
}

.hero img {
    margin-top: 2em;
    height: 25em;
    border-radius: 100%;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow)
}

.bio {
    margin-top: 2em;
    width: 28rem;
    padding: 0.625rem;
    border-radius: 20px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    background-color: var(--bg-color);
}

.bio h2 {
    margin-bottom: var(--bottom-margin)
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}
/* Fin Seccion Hero */

/* Seccion Mas Sobre Mi */
.mas-sobre-mi {
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: var(--bg-color);
    padding: 1rem 6rem;
}

.mas-sobre-mi h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.mas-sobre-mi p {
    line-height: var(--line-height);
    padding: 0.4rem;
}

.mas-sobre-mi #cursos-realizados {
    margin-top: 1.5rem;
}

.mas-sobre-mi #tipo-curso-sysadmin {
    margin-top: var(--top-margin-2);
}

.mas-sobre-mi h4 {
    margin-top: var(--top-margin);
}
/* Fin Seccion Mas Sobre Mi */

/* Seccion Habilidades */

.habilidades {
    max-width: 68.75rem;
    margin: auto;
    margin-top: 2.5rem;
}

.encabezado-habilidades {
    margin-bottom: 1rem;
    text-align: center;
}

.contenedor-habilidades {
    text-align: center;
}

    .contenedor-habilidades img {
        padding: 1.25rem;
    }

.icon {
    width: 11.875rem;
    height: 11.25rem;
}

.icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
}
/* Seccion Habilidades Fin */


/* Footer */
footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}
